AZURE_COSMOS_ENDPOINT=
AZURE_COSMOS_KEY=
AZURE_STORAGE_CONNECTION_STRING=
MONGO_DB_CONNECTION_STRING=
VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_APPLICATION_ID=
VONAGE_APPLICATION_PRIVATE_KEY64=
VONAGE_NUMBER=
BASE_URL=
TO_PHONE_NUMBER=
STORAGE_ACCOUNT_NAME=
BLOB_STORE_CONN_STR=
AZURE_STORAGE_ENABLED=
AZURE_STORAGE_ACCOUNT_KEY=
SERVICE_BUS_CONNECTION_STRING=
SERVICE_BUS_QUEUE_NAME=
PROVIDER_TYPE=
AZURE_SERVICE_BUS_CONNECTION_STRING=
AZURE_SERVICE_BUS_QUEUE_NAME=
CALL_DURATION_LIMIT=
APPLICATIONINSIGHTS_CONNECTION_STRING=
DEFAULT_WELCOME_LANGUAGE=kannada